/* You can add global styles to this file, and also import other style files */

@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeflex/primeflex.css';

html,body {
  font-family: "Open Sans","Helvetica Neue",sans-serif;
  color: #333;
  font-size: 14px;
  background-color: #f3f3f3;
  padding: 0;
  margin: 0;
}

.header-panel {
  background: #252d32;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 0 16px 0 rgba(0,0,0,.16);
}

.sidebar-panel {
  position: fixed;
  left: 0;
  top: 60px;
  width: 250px;
  background-color: #2a3238;
  height: 100%;
  z-index: 9999;
  box-shadow: 0 0 16px 0 rgba(0,0,0,.16);
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu li a {
  text-decoration: none;
  display: block;
  padding: 12px 24px;
  color: #d8d8d8;
  background-color: #2a3238;
  font-size: 16px;
  border-left: 4px solid transparent;
  border-bottom: 1px solid #23292e;
}

 .sidebar-panel .sidebar-menu li a:hover {
  background-color:#353c43
 }
 .sidebar-panel .sidebar-menu li a.active {
  background-color:#1d2327;
  border-left-color:#007ad9
 }

.header-text {
  font-size: 30px;
  font-weight: bold;
  color: #d8d8d8;
  margin: 5px 0px 0px 10px;
}

.content-panel {
  margin-left: 250px;
  padding: 84px 24px 24px;
}

.white-content-pane {
  background-color: #fff;
}

.white-content-pane h1 {
  font-size: 20px;
font-weight: 400;
margin: 24px 0 12px;
}
